extends layout.pug

block content
  .content
    p Webhook Testing Tool (WTT) is a self-hosted, open-source tool for testing HTTP webhooks.
    p By default, WTT will respond with a 200 OK to any request. You can configure response behavior on a per-route basis by adding <strong>responder scripts</strong> below.
    p 
      | Responder scripts have access to a <code>req</code> object with
      | <code>params</code>, <code>query</code>, <code>headers</code>, <code>body</code>, <code>method</code>, and <code>originalUrl</code> properties.
      | The last expression evaluated in the script should be an object with any of the following properties: <code>status</code>, <code>headers</code>, and <code>body</code>,
      | which will be used to construct the HTTP response for the request.
    p For example, to return a JSON response if the request has a JSON payload with <code>foo</code> property and a <code>400</code> response if it doesn't, you could write: 
    pre
      | const body = JSON.parse(req.body);
      | body && body.foo ? { body: { gotFoo: body.foo }} : { status: 400 };
    p 
      | Responder scripts are only run when the request matches the configured <strong>Route</strong> (HTTP method and path) for that script.
      | The path can be a wildcard <code>*</code> indicating that any path matches, or it can be a value like <code>/foo</code> which would match
      | any request where the path <em>starts with</em> <code>/foo</code>.
    p 
      | Scripts are matched in order of specificity, meaning if you have multiple scripts that match the request, only the most specific will be executed.
      | For example, if one script's route has the wildcard path, another matches the beginning of the path, and a third matches the full path exactly, the third
      | one will be chosen to be executed.
  each script in scripts
    form(action="", method="post")
      .card
        .card-header
          .card-header-title= script.id
        .card-content
          .field.is-horizontal 
            .field-label.is-normal
              label.label Route
            .field-body
              .field.has-addons.has-addons-right
                .control
                  .select
                    select(name="method")
                      option(value="*", selected=(script.method === '*')) *
                      option(value="GET", selected=(script.method === 'GET')) GET
                      option(value="POST", selected=(script.method === 'POST')) POST
                      option(value="PUT", selected=(script.method === 'PUT')) PUT
                      option(value="DELETE", selected=(script.method === 'DELETE')) DELETE
                      option(value="PATCH", selected=(script.method === 'PATCH')) PATCH
                .control.is-expanded
                  input.input(type="text", name="path", value=script.path)
          .field.is-horizontal
            .field-label.is-normal
              label.label Code
            .field-body
              .field
                .control.is-expanded
                  textarea.textarea(name="code")= script.code
        .card-footer 
          button.card-footer-item(type="submit" name="updaterule" value=script.id) Update
          button.card-footer-item(type="submit" name="deleterule" value=script.id) Delete
  div
    form(action="", method="post")
      .card
        header.card-header
          .card-header-title Add new rule...
        .card-content
          .field.is-horizontal 
            .field-label.is-normal
              label.label Route
            .field-body
              .field.has-addons.has-addons-right
                .control
                  .select
                    select(name="method")
                      option(value="*") *
                      option(value="GET") GET
                      option(value="POST") POST
                      option(value="PUT") PUT
                      option(value="DELETE") DELETE
                      option(value="PATCH") PATCH
                .control.is-expanded
                  input.input(type="text", name="path", value="")
          .field.is-horizontal
            .field-label.is-normal
              label.label Code
            .field-body
              .field
                .control.is-expanded
                  textarea.textarea(name="code")
        .card-footer 
          button.card-footer-item(type="submit" name="addrule" value="true") Add new rule